{% extends 'base.html.twig' %}
{% block title %}
    {{ cypxt.title }}
{% endblock %}
{% block header %}
    {{ component('jumbotron') }}
{% endblock %}
{% block body %}
    <div class="container">
        {% include '/pxt/_messages.html.twig' %}
        {% if remaining %}
            <h1>Solicitudes cerradas</h1>
            <p>Lo sentimos, pero el formulario está cerrado. Hemos llegado al máximo de solicitudes que podemos abarcar</p>
        {% else %}
            <h1>Máximo de solicitudes alcanzado</h1>
            <p>Lo sentimos, has alcanzado el máximo de solicitudes permitido :(</p>
        {% endif %}
        <p>Aun así, puedes llamarnos el {{ cypxt.date_long }} a los siguientes teléfonos:</p>
        <ul class="fa-ul">
            {% for phonenumber in phonenumbers %}
                <li><span class="fa-li"><i class="fas fa-phone"></i></span><a href="tel:{{ phonenumber }}">{{ phonenumber }}</a></li>
            {% endfor %}
        </ul>
        <p>También puedes seguirnos en <a href="https://twitter.com/montandoellocal" rel="nofollow">Twitter</a> o <a href="https://www.instagram.com/montando_el_local" rel="nofollow">Instagram</a> y decirnos qué tal lo hemos hecho</p>
        <p>¡Muchas gracias a todas y todos!</p>
        <p>Esperamos que nos llames el año que viene en Poemas o Cuentos por Teléfono. ¡Nos vemos!</p>
        {% if cypxt.poster %}
            <img class="img-fluid max-vh-90" src="{{ asset(cypxt.poster) }}" alt="Cartel oficial">
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            confetti({
                disableForReducedMotion: true,
                angle: 90,
                particleCount: 50,
                spread: 80,
                origin: { x: 0.50, y: 0.95 }
            })

            if (window.innerWidth < 768) {
                return;
            }

            confetti({
                disableForReducedMotion: true,
                angle: 60,
                particleCount: 50,
                spread: 55,
                origin: { x: 0.05, y: 550 / window.innerHeight }
            });
            confetti({
                disableForReducedMotion: true,
                angle: 120,
                particleCount: 50,
                spread: 55,
                origin: { x: 0.95, y: 550 / window.innerHeight }
            });
        });
    </script>
{% endblock %}