{# templates/pxt/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"><b>{{ title }}</b></h1>
            <h1 class="d-none d-md-block"><a href="https://twitter.com/hashtag/{{ hashtag }}" target="_blank">#{{hashtag }}</a></h1>
            <h5>{{ fecha }}</h5>
        </div>
    </div>
{% endblock %}
{% block body %}
    <p class="lead">
        Este es un formulario para pedir que le recitemos un poema a una persona especial para ti. Es muy importante que nos
        digas a quien va dedicado y de quien eres tú para que podamos decirle que va la cosa y no le pille por sorpresa.
    </p>
    <p class="lead">
        Además, llamamos desde España, por lo que no podemos hacer llamadas internacionales *snif* :(
    </p>
    {% for message in app.flashes('success') %}
        <div class="row alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% include '/pxt/_formGustos.twig' %}
{% endblock %}
