{# templates/pxt/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"><b>{{ title }}</b></h1>
            <h1 class="d-none d-md-block"><a href="https://twitter.com/hashtag/{{ hashtag }}" target="_blank">#{{hashtag }}</a></h1>
            <h5>Sábado, 21 de Marzo de 2020</h5>
        </div>
    </div>
{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% include '/pxt/_formGustos.twig' %}
{% endblock %}