{% extends 'base.html.twig' %}
{% block title %}
    Lineas disponibles
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('lineas') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('lineas') }}
{% endblock %}
{% block header %}
    {{ component('jumbotron', { title: 'Lineas Disponibles' }) }}
{% endblock %}
{% block body %}
<div class="container">
    {% if is_granted('ROLE_CENTRALITA') -%}
        <p>
            Hola, {{ app.user.username }}. Aquí encontrarás las líneas disponibles. Si está en <b style="color: limegreen">verde</b>, puedes pasarles la llamada. Si está en <b style="color:red">rojo</b>, están ocupados.
        </p>
        <table id="wrapper-lineas" class="table table-dark text-center">
            <thead><tr>
                <th>id</th>
                <th class="d-none d-md-table-cell">Teléfono</th>
                <th>Ubicación</th>
                <th class="d-none d-lg-table-cell">Estado</th>
                <th>Tiempo abierta/cerrada</th>
            </tr></thead>
            <tbody>
            {% for linea in lineas %}
                <tr class="linea"
                    data-status="{{ linea.status }}"
                    data-id="{{ linea.id }}"
                    data-last_open="{{ linea.lastOpen|date("c") }}"
                    data-last_close="{{ linea.lastClose|date("c") }}">
                    <td>{{ linea.id }}</td>
                    <td class="d-none d-md-table-cell">{{ linea.phoneNumber }}</td>
                    <td>{{ linea.description }}</td>
                    <td class="linea-status d-none d-lg-table-cell">{{ linea.status }}</td>
                    <td class="linea-time"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Lo sentimos, esta información sólo está disponible para los organizadores del evento</p>
    {% endif %}
    {% if app.user %}
        <a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    {% else %}
        <a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
    {% endif %}
</div>
{% if is_granted('ROLE_CENTRALITA') %}
    <div id="qr" class="card card-hover-shadow" style="position: fixed; right: 20px; bottom: 20px;">
        <div class="card-header">
            <a href="#collapseQR" id="qrminimizeButton" class="clickable float-right link-dark" aria-controls="collapseQR" aria-label="Minimizar" data-toggle="collapse" aria-expanded="true">
                <i class="fas fa-window-minimize" id="qr-minimize-icon"></i>
                <i class="fas fa-window-maximize" id="qr-maximize-icon"></i>
            </a>
            <h5 class="card-title mb-0">Acceso terminales</h5>
        </div>
        <div id="collapseQR" class="collapse show">
            <img class="card-img" src="{{ qr_code_data_uri(qr_link) }}" />
            <div class="card-body">
                <a href="#" id="qr-copy-button" class="btn btn-primary" data-link="{{ qr_link }}"><i class="fas fa-clone"></i> Copiar enlace</a>
            </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}