{% extends 'base.html.twig' %}
{% block title %}
    Lineas disponibles
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('lineas') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('lineas') }}
{% endblock %}
{% block header %}
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <h1 class="display-3"><b>Linea {{ linea.id }}</b></h1>
            <h1 class="display-4">{{ linea.description }}</h1>
            <h1 class="d-none d-md-block"><a href="https://twitter.com/hashtag/{{ cypxt_hashtag }}" target="_blank">#{{ cypxt_hashtag }}</a></h1>
            <h5>{{ cypxt_params.date_long }}</h5>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div id="changeLineButtons" class="container-fluid">
        <div class="row">
        {% if prev is null %}
        {% else %}
            <a href="{{ path('linea_id', {'id': prev.id }) }}" class="text-center col">
                <div>
                    <i class="bi bi-chevron-left"></i>
                </div>
            </a>
        {% endif %}
        {% if next is null %}
        {% else %}
            <a href="{{ path('linea_id', {'id': next.id }) }}" class="text-center col">
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </a>
        {% endif %}
        </div>
    </div>
    <div id="usageInfo" class="container pt-3">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>
            Si está en verde es que abajo aparece en verde. Es decir, recibiréis llamadas. Si está en <b style="color: red">rojo</b> NO recibiréis llamadas.
            Pulsa el recuadro para cambiar el color y pasar a recibir llamadas o dejar de recibirlas.
        </p>
        <p>
            Pulsa las flechitas para ir a controlar la anterior/siguiente línea
        </p>
        <p>
            ¿Te ha quedado claro?
        </p>
    </div>
    <button type="button" id="wrapper-lineas" class="d-flex flex-grow-1 flex-column">
        <div class="linea text-light d-flex flex-grow-1 flex-column w-100"
            data-status="{{ linea.status }}"
            data-id="{{ linea.id }}"
            data-last_open="{{ linea.lastOpen|date("c") }}"
            data-last_close="{{ linea.lastClose|date("c") }}">
            <div class="container py-3 d-flex flex-column justify-content-center">
                <p class="display-4 loading-text">Cargando...</p>
                <div class="spinner-border loading-text" role="status"></div>
                <p class="display-4">Estáis <b class="linea-idle">libres</b><b class="linea-busy">en&nbsp;llamada</b></p>
                <p class="lead linea-idle">Tiempo sin llamadas:</p>
                <p class="lead linea-busy">Tiempo de llamada:</p>
                <p class="linea-time-text"></p>
            </div>
        </div>
    </button>
{% endblock %}
