{# templates/pxt/welcome.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ cypxt.title }}
{% endblock %}
{% block header %}
    {{ component('jumbotron') }}
{% endblock %}
{% block body %}
    <div class="container mb-3 lead">
        <h2>¡Dedica un {{ cypxt.cop_sing }}!</h2>
        <p>
            Este es un formulario para pedir que le {{ cypxt.cop_read }} a una persona especial para ti. Es muy importante que nos
            digas <b>a quien</b> va dedicado y <b>quien eres</b> tú para que podamos decirle de qué va la cosa y no le pille por sorpresa.
        </p>
        <p class="font-weight-bold">
            Las solicitudes de anónimos o pseudónimos no serán procesadas
        </p>
        <p>
            Tan sólo puedes realizar {{ maxapp }} peticiones, así que, por favor, piénsate bien a quién antes de enviar el formulario, una vez enviado... ¡no se puede cambiar!
        </p>
        <p>
            Llamaremos el <b>{{ cypxt.date_calls }}</b> de la tarde. Si podemos intentaremos llamar de nuevo si no lo han cogido.
            </b>
        <p>
            Además, llamamos desde España, por lo que <b>no podemos hacer llamadas internacionales</b> *<i>snif</i>* :(
        </p>
        <p>
            <b>Sin embargo</b>, sí que las recibimos a los teléfonos que aparecen en el cartel, por lo que... ¡puedes llamarnos si quieres!
        </p>
        <a href="{{ url('form') }}" class="btn btn-primary" role="button">Continuar</a>
    </div>
    {% if cypxt.poster %}
        <div class="container">
            <img class="img-fluid max-vh-90 mt-3" src="{{ asset(cypxt.poster) }}" alt="Cartel oficial">
        </div>
    {% endif %}
    <div class="container mb-3">
        {% include '/pxt/_tratdatos.html.twig' %}
    </div>
{% endblock %}
