{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><b>{{ title }}</b></h1>
        <h1 class="d-none d-md-block"><a href="https://twitter.com/hashtag/{{ hashtag }}" target="_blank">#{{hashtag }}</a></h1>
        <h5>Estadísticas a día {{ "now"|format_datetime("full") }}</h5>
    </div>
</div>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/davo/Documentos/cypxt20/src/Controller/StatsController.php'|file_link(0) }}">src/Controller/StatsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/davo/Documentos/cypxt20/templates/stats/index.html.twig'|file_link(0) }}">templates/stats/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
