{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stats') }}
{% endblock %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><b>{{ title }}</b></h1>
        <h1 class="d-none d-md-block"><a href="https://twitter.com/hashtag/{{ hashtag }}" target="_blank">#{{hashtag }}</a></h1>
        <h5>Estadísticas a día {{ "now"|format_datetime("full") }}</h5>
    </div>
</div>
{% endblock %}

{% block body %}
<div id="ageplot"></div>
{% endblock %}
